body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#calculator {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid #f8e1f4;
    background-color: #f8e1f4;
    padding: 20px 20px 100px 20px;
    border-radius: 25px;
    margin-top: 200px;
}

#screen {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    width: 250px;
    height: 75px;
    border-radius: 15px;
    margin-bottom: 20px;
    background-color: #fff5fd;
    box-shadow: inset 2px 2px 5px 0.5px #f8e1f4;
    font-family: 'Inconsolata', monospace;
    font-size: 25pt;
    padding: 10px;
    color: hotpink;
}

#buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    width:250px;
    height: 250px;
    flex-wrap: wrap;
    font-family: 'Inconsolata', monospace;
    pointer-events: none;
}

button {
    border-radius: 25px;
    width: 45px;
    height: 45px;
    margin: 8.5px;
    background-color:#fff5fd;
    border: 1px #fff5fd;
    box-shadow: inset ;
    font-family: 'Inconsolata', monospace;
    font-size: large;
    pointer-events: auto;
}

button:hover {
    background-color: pink;
}

button:active {
    background-color: hotpink;
}

#equals {
    width: 109px;
}

p {
    margin: 0px;
}

#topline {
    font-size: 18pt;
}